@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #645f5fa2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #645f5fe6;
}
